.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15%;
    margin-left: 15%;

}

.aboutTitle {
    display: flex;
    margin-top: 15%;
    padding-bottom: 3%;
}

.aboutPara {
    display: flex;
    text-align: left;
}
