
.cardBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 15%;
    height: 30vh;
}

.card {
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 25%;
    background: #d5d5d5;
    border-radius: 16px;
    box-shadow: 5px 5px 10px;
}

.imageBox {
    display: flex;
    align-self: center;
    margin-top: 1%;
    height: 50%;
    width: 97%;
    border-radius: 16px;
}

.cardTitle {
    background: #d5d5d5;
    display: flex;
    text-align: left;
    margin-left: 1%;
}

.highlightImage{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

.cardPara {
    display: flex;
    background: #d5d5d5;
    margin-left: 1%;
    font-size: 12px;
    text-align: left;
    border-radius: 16px;
}
.bottomCard {
    display: flex;
    background: #d5d5d5;
    align-items: flex-end;
    flex-direction: row;
    height: 15%;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.cardButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bolder;
    background: #d5d5d5;
    font-size: 1.5vw;
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
    border: none;
    width: 100%;
}

.cardButton:hover {
    cursor: pointer;
    color: #F4CE14;
}
.cardButton:hover .cardIcon {
    color: #F4CE14;
}


.cardIcon {
    display: flex;
    background: #d5d5d5;
}
